@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.primary-color{
  color: #2563eb;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
}

* {
  scrollbar-width: none;  
}

div#root {
  background-color: #F3F5F6;
}

.table-header {
  color: #6b7280;
  background-color: #F3F5F6;
} 

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

input:focus {
  outline: none;
  box-shadow: none;
}