@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
  color: #2563eb;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
}

* {
  scrollbar-width: none;  
}

div#root {
  background-color: #F3F5F6;
}

